
.firstPortion{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-bottom: 40px;
}
.form-container{
    background-color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin-top: 120px;
    align-items: center;
    margin-left: 15%;
    padding-left: 5%;
    padding-top: 3%;
    width: 70%;
    height: 700px;

}
input{
    width: 30%;
    height: 25px;
}
#first,#last,#phone,#position,#email,#date,#res,#cover{
    display: block;
}
textarea{
    width: 80%;
    height: 150px;
    border-radius: 10px;
}
#resume{
    width: 100%;
    cursor: pointer;
}
button{
    background-color:gray;
    cursor: pointer;
    width: 10%;
    height: 50px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: white;
    margin-left: 42%;
    margin-bottom: 20%;
}
button:hover{
    background-color: darkgreen;
}
